<!-- contact forms -->
<div class="form-container ">
  <form action="https://formsubmit.co/Trinh.C.Thien@gmail.com" method="POST" class="email_report">
    <span class="text-black">Email:</span> <input type="email" name="email" placeholder="Email Address" required> <br>
   <span class="text-black">Issues:</span>  <textarea type="text" name="message" required placeholder="Write your issues here"></textarea><br>
    <button type="submit" class="bg-primary">Send</button>
  </form>
</div>
