<div class="row mt-4">
  <div class="col-md-6">

    <form class="form new-word-form">
      <div class="form-group">
        <label class="text-black" for="word-title">Word:</label>
        <input class="form-input" placeholder="Add a word" type="text" id="word-title" name="word-title" />
        <label class="text-black" for="word-desc">Definiton:</label>
        <textarea class="form-input" placeholder="Add a definition" id="word-desc" name="word-desc"></textarea>
        <button type="submit" class="btn btn-primary">Create</button>
      </div><br>
    </form>
  </div>

  <script src="./js/newword.js"></script>