*{
  /*
  --primary:#6096B4;
  --secondary:#93BFCF;
  --text:#EEE9DA;
  --random:#BDCDD6;
  --bg:#27374D;

  --yellow: #FFE7A0;
  --yellow2:#FFF5B8;
*/
  --secondary: #0D0A0B;
  --grey: #454955;
  --text: #F3EFF5;
  --primary: #f9c909;
  --green:#70c049;
  --random:#BDCDD6;
  --box:aliceblue;
  --linen: rgb(248, 222, 197);
}

.homeBody
{
    background-color: #f9c90927;
    background-image: url(http://www.transparenttextures.com/patterns/dark-brick-wall.png);
}
span
{
    font-style: italic;
    color: white;
}
.logo
{
    color: var(--primary);
}

.template-contaniner{
  padding-left: 10px ;
  padding-right: 10px;
  margin-top: 20rem;
  box-sizing: border-box;
  background-color: var(--linen);
  width: 50rem;
  height: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 8px 1px #00000075;
  border-radius: 10px;
 
  flex-direction: column; 

  

  
}

.template-wrapper{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
  height: fit-content;
}

.template-wrapper h1{
  margin: 4rem 0;
  
 
}
.template-wrapper p{
 padding: 2rem;
  font-size: 1.8em;
 
}

.template-wrapper button{
  margin: 50px 0px 50px 0px;
}

.commentBox{
  background-color: var(--box);
  border: 2px solid var(--random);
  margin-bottom: 20px;
  padding: 10px;
 
}
.commitBox{
  background-color: var(--box);
  border: 2px solid var(--random);
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 4px 4px 8px 1px #00000075;
}

.comment{
  font-size: 15px;
  color: var(--secondary);
}
.userinfo{
  color: var(--secondary);
}
.custom{
  background-color: var(--linen);
}
/* main */
body{
  background-color: var(--bg);
}
.navbar{
  background-color: var(--secondary);
  box-shadow: 4px 4px 8px 1px #00000075;
}
.nav-item a{
  color: var(--text);
  font-size: 2em;
}

.navbar a{
  text-decoration: none;
  position: relative;
  
}
.navbar a:after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transition: 0.5s;
}
.navbar a:hover:after{
  width:100%;
}

.button{
  background-color: var(--secondary);
  height: 50px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 1px #00000075;
}
.button:hover{
  background-color: var(--random) ;
  
}


/* contact_form CSS  start here*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-color: var(--linen);

}
.email_report{
   padding: 10px;
  

  box-sizing: border-box;
  background-color: var(--yellow);
  width: 30rem;
  height: 20rem;
  box-shadow: 4px 4px 8px 1px #00000075;
  border-radius: 10px;
  display:flex;
  flex-direction: column; 
}
.email_report textarea{
  height: 10rem;
}
.email_report button{
  width: 5rem;
  border-radius: 5px;
  background-color: var(--bg);
  color: white;
  
}

.email_report button:hover {

  background-color: var(--secondary);
}

/* contact_form CSS ends here*/





.form-group{
   padding: 10px;
  

  box-sizing: border-box;
  background-color: var(--yellow);
  width: 30rem;
  height: 20rem;
  box-shadow: 4px 4px 8px 1px #00000075;
  border-radius: 10px;
  display:flex;
  flex-direction: column; 
}
.form-group textarea{
  height: 10rem;
}
.form-group button{
  width: 5rem;
  border-radius: 5px;
  background-color: blue;
  color: white;
  
  
}

.form-group button:hover {
  background-color: var(--secondary);
}

