<div class = "template-contaniner">
    <div class = "template-wrapper">
        <section  id ="template-submit">
            {{!-- title --}}
            <h1>Sample Title</h1> 
            {{!-- definition --}}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet vitae sapiente dignissimos optio ad totam at 
                aperiam consequuntur quaerat qui, dolorum, doloribus ut 
                quibusdam tempore perspiciatis! Ex ipsa blanditiis vel eligendi facilis et r
                eiciendis id nulla repellat! Pariatur, sed consequatur.
            </p> 
            <button class="like-button" name = "likebtn" data-post-id="{{postId}}">
                <i class="fas fa-thumbs-up"></i> {{likeCount}}
            </button>
            <button class="like-button" name = "hatebtn" data-post-id="{{postId}}">
                <i class="fas fa-thumbs-down"></i> {{likeCount}}
            </button>
              
        </section>

    </div>
</div>
<script src="/js/template.js"></script>