*{
  --primary:#6096B4;
  --secondary:#93BFCF;
  --text:#EEE9DA;
  --random:#BDCDD6;
  --bg:#27374D;
}



.template-contaniner{
  padding-left: 10px ;
  padding-right: 10px;
  margin-top: 20rem;
  box-sizing: border-box;
  background-color: var(--primary);
  width: 50rem;
  height: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 8px 1px #00000075;
  border-radius: 10px;
  /*  */
  flex-direction: column; 

  

  
}

.template-wrapper{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
  height: fit-content;
}

.template-wrapper h1{
  margin: 4rem 0;
  
 
}
.template-wrapper p{
 padding: 2rem;
  font-size: 1.8em;
 
}

.template-wrapper button{
  margin: 50px 0px 50px 0px;
}

.commentBox{
  background-color: var(--primary);
  border: 2px solid var(--random);
  margin-bottom: 20px;
  padding: 10px;
}

.comment{
  font-size: 15px;
  color: var(--text);
}


/* main */
body{
  background-color: var(--bg);
}
.navbar{
  background-color: var(--secondary);
  box-shadow: 4px 4px 8px 1px #00000075;
}
.nav-item a{
  color: var(--text);
  font-size: 2em;
}

.button{
  background-color: var(--secondary);
  height: 50px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 1px #00000075;
}
.button:hover{
  background-color: var(--random) ;
  
}