*{
  --bg: #0D0A0B;
  --grey: #454955;
  --text: #F3EFF5;
  --secondary: #f9c909;
  --primary:#70c049;
  --random:#BDCDD6;
}

.homeBody
{
    background-color: #f9c90927;
    background-image: url(http://www.transparenttextures.com/patterns/dark-brick-wall.png);
}

span
{
    font-style: italic;
    color: white;
}
.logo
{
    color: var(--secondary);
}

.template-contaniner{
  padding-left: 10px ;
  padding-right: 10px;
  margin-top: 20rem;
  box-sizing: border-box;
  background-color: var(--primary);
  width: 50rem;
  height: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 8px 1px #00000075;
  border-radius: 10px;
  /*  */
  flex-direction: column; 

  

  
}

.template-wrapper{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
  height: fit-content;
}

.template-wrapper h1{
  margin: 4rem 0;
  
 
}
.template-wrapper p{
 padding: 2rem;
  font-size: 1.8em;
 
}

.template-wrapper button{
  margin: 50px 0px 50px 0px;
}

.commentBox{
  background-color: var(--primary);
  border: 2px solid var(--random);
  margin-bottom: 20px;
  padding: 10px;
}

.comment{
  font-size: 15px;
  color: var(--text);
}


/* main */
body{
  background-color: var(--bg);
}
.navbar{
  background-color: var(--secondary);
  box-shadow: 4px 4px 8px 1px #00000075;
}
.navbar a{
  text-decoration: none;
  position: relative;
  
}
.navbar a:after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);
  transition: 0.5s;
}
.navbar a:hover:after{
  width:100%;
}

.nav-item a{
  color: var(--text);
  font-size: 1.3rem;
}

.button{
  background-color: var(--secondary);
  height: 50px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 1px #00000075;
}
.button:hover{
  background-color: white;
  color: black;
  
}